$sw-black: #000000;
$sw-dark: #0d0d0d;
$sw-yellow: #ffe81f;
$sw-blue: #4bd5ee;
$sw-red: #e53935;
$sw-white: #ffffff;
$sw-gray: #b0b0b0;

$glass-bg: rgba(0, 0, 0, 0.55);
$glass-border: rgba(255, 255, 255, 0.15);
